# EDA Muesli Company

### Business case
A Muesli distribution company has approached you to help them understand their delivery process. They want to develop KPIs to help them keep track of the health of their business in order to improve the service they offer their customers.

### Workflow
maybe add more whitespace on the edges and a internal/external heading on the side
![workflow](images/Muesli_Flow.drawio.png)
![workflow](./images/workflow.png)

In [44]:
# import the necessary libraries you need for your analysis
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
# Floats (decimal numbers) should be displayed rounded with 2 decimal places
pd.options.display.float_format = "{:,.2f}".format
# Set style for plots
plt.style.use('fivethirtyeight')

## Orders-Dataset

In [52]:
# read in csv file and display first 5 rows of #!CAMPAIGN DATA
df_orders = pd.read_csv("data/Group_1_Muesli_Project_raw_data-Orders.csv")
df_orders.rename(columns=lambda x : x.lower(), inplace=True)
df_orders.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
df_orders.head()

,index,order_id,order_date,ship_mode,customer_id,customer_name,origin_channel,country/region,city,state,postal_code,region,category,sub-category,product_id,sales,quantity,discount,profit
0,27,CA-2019-121755,16/1/2019,Second Class,EH-13945,Eric Hoffmann,Email,United States,Los Angeles,California,"90,049.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10003027,90.57,3,0.00,11.77
1,45,CA-2019-118255,11/3/2019,First Class,ON-18715,Odella Nelson,Sales,United States,Eagan,Minnesota,"55,122.00",Central,Special Projects Muesil,Gluten Free,TEC-AC-10000171,45.98,2,0.00,19.77
2,48,CA-2019-169194,20/6/2019,Standard Class,LH-16900,Lena Hernandez,Email,United States,Dover,Delaware,"19,901.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,45.00,3,0.00,4.95
3,60,CA-2019-111682,17/6/2019,First Class,TB-21055,Ted Butterfield,Email,United States,Troy,New York,"12,180.00",East,Special Projects Muesil,Gluten Free,TEC-AC-10002167,30.00,2,0.00,3.30
4,63,CA-2018-135545,24/11/2018,Standard Class,KM-16720,Kunst Miller,Email,United States,Los Angeles,California,"90,004.00",West,Special Projects Muesil,Gluten Free,TEC-AC-10004633,13.98,2,0.00,6.15

In [47]:
# check which columns are included in our dataframe
df_orders.columns

Index(['index', 'order_id', 'order_date', 'ship_mode', 'customer_id',
       'customer_name', 'origin_channel', 'country/region', 'city', 'state',
       'postal_code', 'region', 'category', 'sub-category', 'product_id',
       'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [48]:
# Let's have a look at the shape of our dataset, meaning how long and wide it is.
df_orders.shape

(9994, 19)

In [49]:
# We now want to check out our data-types as well as get a feeling for possible missing values
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           9994 non-null   int64
 1   order_id        9994 non-null   object
 2   order_date      9994 non-null   object
 3   ship_mode       9994 non-null   object
 4   customer_id     9994 non-null   object
 5   customer_name   9994 non-null   object
 6   origin_channel  9994 non-null   object
 7   country/region  9994 non-null   object
 8   city            9994 non-null   object
 9   state           9994 non-null   object
 10  postal_code     9983 non-null   float64
 11  region          9994 non-null   object
 12  category        9994 non-null   object
 13  sub-category    9994 non-null   object
 14  product_id      9994 non-null   object
 15  sales           9994 non-null   float64
 16  quantity        9994 non-null   int64
 17  discount        9994 non-null   float64
 18  profit          9994 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 1.4+ MB

In [54]:
# drop columns we don't need
df_orders.drop(["index","customer_name", "origin_channel", "country/region", "city", "state", "postal_code", "region", "category", "sub-category", "product_id", "sales", "quantity", "discount", "profit"], axis=1, inplace=True)
df_orders.head()

         order_id  order_date       ship_mode customer_id
0  CA-2019-121755   16/1/2019    Second Class    EH-13945
1  CA-2019-118255   11/3/2019     First Class    ON-18715
2  CA-2019-169194   20/6/2019  Standard Class    LH-16900
3  CA-2019-111682   17/6/2019     First Class    TB-21055
4  CA-2018-135545  24/11/2018  Standard Class    KM-16720

## Campaign-Dataset

In [51]:
# read in csv file and display first 5 rows of #!CAMPAIGN DATA
df_camp = pd.read_csv("data/Group_1_Muesli Project_raw_data-Campaign_Data.csv")
df_camp.rename(columns=lambda x : x.lower(), inplace=True)
df_camp.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
df_camp.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data/Group_1_Muesli Project_raw_data-Campaign_Data.csv'

In [ ]:
# check which columns are included in our dataframe
df_camp.columns

Index(['Order ID', 'Arrival Scan Date', 'Customer Name'], dtype='object')

In [ ]:
# Let's have a look at the shape of our dataset, meaning how long and wide it is.
df_camp.shape

(333, 3)

In [ ]:
# We now want to check out our data-types as well as get a feeling for possible missing values
df_camp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           333 non-null    object
 1   Arrival Scan Date  333 non-null    object
 2   Customer Name      333 non-null    object
dtypes: object(3)
memory usage: 7.9+ KB

## Process-Dataset

In [ ]:
# read in csv file and display first 5 rows of #!PROCESS
df_process = pd.read_csv("data/Group_1_Muesli_Project_raw_data-Order_Process_Data.csv")
df_process.rename(columns=lambda x : x.lower(), inplace=True)
df_process.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
df_process.head()

   row_id        order_id order_date on_truck_scan_date            ship_mode
0    3074  CA-2019-125206   3/1/2019         07/01/2019              Express
1    4919  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
2    4920  CA-2019-160304   2/1/2019         09/01/2019  Standard Processing
3    8604  US-2019-116365   3/1/2019         09/01/2019  Standard Processing
4    8605  US-2019-116365   3/1/2019         09/01/2019  Standard Processing

In [ ]:
# check which columns are included in our dataframe
df_process.columns

Index(['Row ID', 'Order ID', 'Order Date', 'On Truck Scan Date', 'Ship Mode'], dtype='object')

In [ ]:
# Let's have a look at the shape of our dataset, meaning how long and wide it is.
df_process.shape

(5899, 5)

In [ ]:
# We now want to check out our data-types as well as get a feeling for possible missing values
df_process.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5899 entries, 0 to 5898
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Row ID              5899 non-null   int64
 1   Order ID            5899 non-null   object
 2   Order Date          5899 non-null   object
 3   On Truck Scan Date  5899 non-null   object
 4   Ship Mode           5899 non-null   object
dtypes: int64(1), object(4)
memory usage: 230.6+ KB

## Intern Data Study

In [ ]:
# read in csv file and display first 5 rows of #!INTERN DATA STUDY
df_intern = pd.read_csv("data/Group_1_Muesli_Project_raw_data-Intern_Data_Study.csv")
df_intern.rename(columns=lambda x : x.lower(), inplace=True)
df_intern.rename(columns=lambda x : x.replace(' ', '_'), inplace=True)
df_intern.head()

         order_id ready_to_ship_date pickup_date
0  CA-2019-116540         02/09/2019  03/09/2019
1  CA-2019-116540         02/09/2019  03/09/2019
2  CA-2019-129847         04/09/2019  04/09/2019
3  CA-2019-129630         04/09/2019  04/09/2019
4  CA-2019-106278         05/09/2019  06/09/2019

In [ ]:
# check which columns are included in our dataframe
df_intern.columns

Index(['order_id', 'ready_to_ship_date', 'pickup_date'], dtype='object')

In [ ]:
# Let's have a look at the shape of our dataset, meaning how long and wide it is.
df_intern.shape

(290, 3)

In [ ]:
# We now want to check out our data-types as well as get a feeling for possible missing values
df_intern.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            290 non-null    object
 1   ready_to_ship_date  290 non-null    object
 2   pickup_date         290 non-null    object
dtypes: object(3)
memory usage: 6.9+ KB